p{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: medium;
color: aqua;
font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
background-color: black;
}
.nav a:hover{
color: blueviolet;
}
